.orderPage {
  min-height: 100vh;
  background-color: var(--beige);
  color: var(--gray-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem 1rem;
}

.header {
  text-align: center;
  width: 100vw;
  padding-bottom: 2rem;
  padding-top: 2rem;
  background-color: var(--red);
}

.title {
  font-family: var(--font-barlow);
  font-weight: 700;
  font-size: 1.8rem;
  color: var(--beige);
  margin-bottom: 1.5rem;
}

.subtitle {
  font-family: var(--font-roboto-condensed);
  font-weight: 400;
  font-size: 0.9rem;
  color: var(--beige);
  margin-bottom: -1rem;
}

.form {
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 2rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.pizzaInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.homeLink {
  color: var(--beige);
  text-decoration: none;
  font-weight: 600;
  transition: opacity 0.2s ease;
}

.homeLink:hover {
  opacity: 0.8;
}
