.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("/images/iteration-1-images/home-banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
}

.mainContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background);
}

.mainContent > * {
  width: 70%;
  max-width: var(--container);
}


/* içerik kutusu */
.content {
  margin-top: 10vh;
  width: 60vw;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;     
}

/* üst başlık */
.subtitle {
  font-family: var(--font-barlow);
  font-weight: 700;
  font-size: 2.8rem;
  margin-bottom: 2.8rem;
}

/* ana başlık */
.title {
  font-family: var(--font-roboto-condensed);
  font-weight: 300;
  font-size: 4.4rem;
  letter-spacing: 0.08em;
  line-height: 1.15;
  margin-bottom: 2.8rem;
}

/* buton */
.button {
  background-color: var(--yellow);
  color: var(--gray-dark);
  font-family: var(--font-roboto-condensed);
  width: 194px;
  height: 56px;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.8rem 2.4rem;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.button:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

/* responsive */
@media (max-width: 768px) {
  .content {
    margin-top: 24vh;
    width: 80vw;
  }

  .title {
    font-size: 2.4rem;
    letter-spacing: 1px;
  }

  .subtitle {
    font-size: 1.6rem;
  }

  .button {
    font-size: 0.9rem;
    padding: 0.7rem 2rem;
  }
}
